<div class="card employee-card align-self-sm-center">
  <div class="card-header">
    <h2 class="card-title text-left">{{ name }}</h2>
    <h3 class="card-title text-left">
      <i class="fas fa-user-graduate mr-2"></i>{{ role }}
    </h3>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item text-left">ID: {{ id }}</li>
      <li class="list-group-item text-left">
        Email: <a href="mailto: {{ email }}"> {{ email }}</a>
      </li>
      <li class="list-group-item text-left">School: {{ school }}</li>
    </ul>
  </div>
</div>
